$color-1: #3674B5;
$color-2: #578FCA;
$color-3: #A1E3F9;
$color-4: #D1F8EF;
$btn-default-color: #94C1F0;

$font-primary-color: #FFFFFF;
$font-secondary-color: #000000;


$font-h1: 8rem; // 128px;
$font-h2: 3rem; // 48px;
$font-h3: 2rem; // 32px;

$font-default: 2.25rem; // 36px;
$font-default-medium: 1.875rem; // 30px;
$font-team-desc: 1.625rem; // 26px;
$font-default-mini: 1.5rem; // 24px;