.bubble_user_name {
    font-weight: 700;
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 0.5vh;
}

.bubble_container_left{
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-start;
    margin-bottom: 2.5vh;
    gap: 0.5vw;

    .time{
        font-size: 0.7rem;
        white-space: nowrap;
    }
}

.bubble_chatbot {
    position: relative;
    padding: 15px 25px;
    border-radius: 0 50px 50px 50px;
    background-color: transparent;
    color: white;
    font-size: 0.85rem;
    display: inline-block;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 0 30px 30px 30px;
        padding: 1px; //테두리 두께
        background: linear-gradient(194deg, #3674B5 43%, #D1F8EF 64%, #A1E3F9 100%);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
    }

    button{
        background-color: rgba(148, 193, 240, 0.7);
        border-radius: 50px;
        border: none;
        color: #fff;
        padding: 10px;
        width: 100%;
        font-weight: 700;
        margin-top: 1.3vh;
    }

    button:hover{
        cursor: pointer;
        background-color: rgba(102, 149, 200, 0.7);
    }
}