.main_container{
    padding: 15px 35px;
    background-color: #102133;
    height: 58.5vh;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 39px;
    color: rgba(255,255,255,0.9);
    font-weight: 500;

    h2 {
        margin-top: 2.5vh;
    }

    hr{
        margin-top: 1.2vh;
        margin-bottom: 1.7vh;
    }
}