.teamroom{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 2vw;
}

.left_container{
    width: 34vw;
    height: 59vh;
}

aside{
    width: 16vw;
    height: 70vh;
}

.container{
    position: relative;
    padding: 15px 25px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    font-size: 0.85rem;
    display: inline-block;
    z-index: 0;

    text-align: center;
    margin-top: 4vh;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 30px;
        padding: 2px; //테두리 두께
        background: linear-gradient(194deg, #3674B5 43%, #D1F8EF 64%, #A1E3F9 100%);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
    }
}